// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText: #ffffffd2; //#bfcbd9;
$menuActiveText: #00e1ffde; // #409EFF;
$subMenuActiveText:#00e1ffde; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #0a175d25;//rgba(11, 78, 133, 0.1);//#336699; // #304156;
// 悬浮时菜单的颜色
$menuHover: #98c8f78e; // #263445;

$subMenuBg: #0a175d9a;//rgb(159, 203, 247);//#1f2d3d;
$subMenuHover: #98c8f78e; //#001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
